@{
    ViewData["Title"] = "Добавить";
}

<div class="d-flex flex-column w-100">

    <div class="text-center">
        <h1 class="display-4">Добавление</h1>
    </div>

    @*<form asp-controller="AdminAdd" asp-action="Add" method="post" enctype="multipart/form-data">
        <input type="file" name="uploads" /><br>
        <input type="submit" value="Загрузить" />
    </form>*@
    
    <form asp-controller="AdminAdd" asp-action="Add" method="post" enctype="multipart/form-data">
        <input type="file" name="upload" single />
        <input type="submit" value="Upload" />
        <br/>
    </form>


    
</div>