@model List<Album>
@{
    ViewData["Title"] = "Альбомы";
}

<div class="text-center">
    <h1 class="display-4">Альбомы</h1>
</div>

        <form>
            <div class="form-inline form-group">
                <label class="control-label">Название: </label>
                <input name="albumName" class="form-control" />
                <label class="control-label">Автор: </label>
                <input name="authorName" class="form-control" />
                <input type="submit" value="Найти" class="btn btn-primary" />
            </div>
        </form>

<div class="d-flex flex-column w-100">
    @foreach (var item in Model)
    {
        <details>
            <summary>@item.Name — @item.Songs.FirstOrDefault().Author.Name — <span>@item.Date.ToString("MM/yyyy")</span></summary>
            @foreach (var el in item.Songs)
            {
                <div class="d-flex flex-row w-100">
                    <div class="p-2" style="width: 100px">
                        <img src="/@el.CoverPath" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="p-2">
                        <span class="font-weight-bold">@el.Name</span>
                        <form runat="server">
                            <audio controls>
                              <source src="/@el.FilePath" type="audio/mpeg">
                            </audio>
                        </form>
                    </div>
                    <div class="d-flex flex-wrap align-content-center">
                    </div>
                </div>
            }
        </details>
    }
</div>